<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.springboot.mybatis.demo.dao.ProductMapper">

    <insert id="create" parameterType="com.summer.springboot.mybatis.demo.pojo.Product">
        INSERT INTO product (product_name,price) VALUES (#{productName},#{price});
    </insert>
</mapper>